.listItem {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem 20px 0.2rem;
  background: transparent;
  transition: background 0.25s ease 0s;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
